/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

/* @font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
} */



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif;
}

/*---------------------------------------------*/
a {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #3b3b3b;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  font-size: 140%;
  color: #fff;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #3b3b3b;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

.default-hidden {
  visibility: collapse;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #aaaaaa;
}

input:-moz-placeholder {
  color: #aaaaaa;
}

input::-moz-placeholder {
  color: #aaaaaa;
}

input:-ms-input-placeholder {
  color: #aaaaaa;
}

textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}

textarea:-moz-placeholder {
  color: #aaaaaa;
}

textarea::-moz-placeholder {
  color: #aaaaaa;
}

textarea:-ms-input-placeholder {
  color: #aaaaaa;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Logo ]*/

.logo-pic {
  width: 100px;
  display: inline-block;
  /* padding-top: 55px; */
}

.logo-pic svg {
  max-width: 100%;
}

.discord-button {
  width: 15px;
  position: relative;
  top: 2px;
}


/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.bg-contact100 {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /* background: rgba(132,106,221,0.9); */
}

.wrap-contact100 {
  /* width: 1163px; */
  /* background: rgba(255, 255, 255, 0.217); */
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 70px 130px 70px 148px;
}


/*------------------------------------------------------------------
[ Personal Information ]*/

.notice {
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 15px;
  color: #000;
}

.notice-content {
  font-size: x-small;
  letter-spacing: -1px;
  margin-left: 1.2em;
  /* margin-top: 1.2em; */
  /* margin-bottom: 1.2em; */
}


/*------------------------------------------------------------------
[ File input ]*/

.container-file {
  width: 100%;
  /* padding: 15px; */
  margin: 30px 0px 10px 0px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrap-file {
  /* width: 1163px; */
  /* border-radius: 25px; */
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: x-small;
  letter-spacing: -1px;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.file {
  margin-top: 7px;
  margin-bottom: 7px;
  /* font-weight: bold; */
  font-size: 15px;
  color: #000;
}

.file-content {
  font-size: x-small;
  letter-spacing: -1px;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

/*------------------------------------------------------------------
[  ]*/
.contact100-pic {
  width: 310px;
  padding-top: 55px;
}

.contact100-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.contact100-form {
  max-width: 1200px;
}

.contact100-form-div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

.contact100-form-title {
  display: block;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif;
  font-size: 24px;
  font-weight: bolder;
  color: #171717;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 48px;
}

input.input100 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 60px;
}

input.input100[name="email"] {
  padding: 0 30px 0 64px;
}

textarea.input100 {
  min-height: 150px;
  border-radius: 25px;
  padding: 14px 30px;
}

/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serifBold;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  margin: 4px 0;
  border: none;
  outline: none;
  transition: .25s ease;
  box-shadow: inset 4px 4px 8px #d1d9e6, inset -4px -4px 8px #f9f9f9;
}

/* checkbox */
* {
  box-sizing: border-box;
  user-select: none;
}

input[type='checkbox'] {
  height: 0;
  width: 0;
}

input[type='checkbox']~label {
  position: relative;
  display: flex;
  margin: .6em 0;
  align-items: center;
  color: #000;
  transition: color 250ms cubic-bezier(.4, .0, .23, 1);
}

input[type='checkbox']~label>ins {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 2em;
  height: 0;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: height 300ms cubic-bezier(.4, .0, .23, 1);
}

input[type='checkbox']~label>ins>i {
  position: absolute;
  bottom: 0;
  font-style: normal;
  font-weight: bold;
  /*   color: #4FC3F7; */
}

input[type='checkbox']~label>span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  min-width: 18px;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px solid #000;
  border-radius: 7px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(.4, .0, .23, 1);
}

input[type='checkbox']~label:hover,
input[type='checkbox']:focus~label {
  color: #000;
}

input[type='checkbox']~label:hover>span,
input[type='checkbox']:focus~label>span {
  background: rgba(255, 255, 255, .1);
}

input[type='checkbox']:checked~label.check-box-text {
  font-weight: bolder;
}

input[type='checkbox']:checked~label>ins {
  /* height: 100%; */
}

input[type='checkbox']:checked~label>span {
  border: .5em solid #000000;
  animation: shrink-bounce 200ms cubic-bezier(.4, .0, .23, 1);
}

input[type='checkbox']:checked~label>span:before {
  content: "";
  position: absolute;
  top: -0.18em;
  left: -0.35em;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(.4, .0, .23, 1) forwards;
}

input#agree-term:checked~.limiter {
  /* height: 0; */
  /* visibility: hidden; */
  /* background: black; */
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(.85);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #e2e2e2;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  33% {
    width: .4em;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  100% {
    width: .4em;
    height: .6em;
    border-color: #e2e2e2;
    transform: translate3d(0, -.5em, 0) rotate(45deg);
  }
}

/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  /* box-shadow: 0px 0px 0px 0px; */
  color: rgba(0, 0, 0, 0.5);
}

.input100:focus {
  color: black;
  background: white;
}

/* .input100:focus+.focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
} */

/* @-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
} */

/* @keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
} */

.symbol-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  pointer-events: none;
  color: #aaaaaa;
  font-size: 15px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus+.focus-input100+.symbol-input100 {
  color: #000;
  padding-left: 30px;
}

/*------------------------------------------------------------------
[ FilePond ]*/
.filepond--root {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif !important;
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------------
[ Personal Information ]*/
.agreeTerm {
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 15px;
  color: #000;
}

.agreeTerm-content {
  font-size: x-small;
  letter-spacing: -1px;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
  padding: 2% 5% 2% 5%;
  background-color: #e6e6e65c;
  border-radius: 25px;
}

.wrap-table100 {
  width: auto;
  overflow: hidden;
}

.table {
  width: 100%;
  display: table;
  margin: 0;
  font-size: 12px;
}

.row {
  display: table-row;
  background: #efefef;
  text-align: center;
}

.row.header {
  color: #ffffff;
  background: #2580B3;
}

.row_blank {
  display: table-row;
  background: transparent;
  height: 10px;
}

.cell {
  display: table-cell;
}

.row .cell {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 1em;
  color: #3b3b3b;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.row.header .cell {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 1em;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 10px;
  padding-bottom: 10px;
}

.cell_button {
  display: table-cell;
  background: #2580B3;
  font-weight: bold;
  color: #fff;
}


.table,
.row {
  width: 100% !important;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.contact100-form-btn {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #000;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #333333;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact100-pic {
    width: 33.5%;
  }

  .contact100-form {
    /* width: 44%; */
  }
}

@media (max-width: 992px) {
  .wrap-contact100 {
    padding: 70px 80px 70px 90px;
  }

  .contact100-pic {
    width: 35%;
  }

  .contact100-form {
    /* width: 55%; */
  }
}

@media (max-width: 768px) {
  .wrap-contact100 {
    padding: 70px 80px 70px 80px;
  }

  .contact100-pic {
    display: none;
  }

  .contact100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 70px 15px 70px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}